input[type="email"] {
    width: 500px;
}

/* NAVBAR Section */
.navbar {
    top: 0;
    position: sticky;
    width: auto;
    z-index: 5;
}
.navbar a {
    transition: transform 0.3s;
    
}
.navbar a:hover {
    transform: scale(1.05);
    overflow: hidden;
}
#navBarBG {
    background-color: white;
}
/* END Navbar */

h5 svg {
    color: rgb(255, 187, 0);
}
.modal-content {
    box-shadow: 10px 10px 10px rgba(0,0,0, 0.3);
}
.modal-content .modal-body .form-floating input[type="password"] {
    width: 500px;
}
.modal-content .modal-body .form-floating input[type="text"] {
    width: 500px;
}
@media screen and (max-width: 762px) {
    .modal-content .modal-body .form-floating input[type="password"] {
        width: 400px;
    }
    .modal-content .modal-body .form-floating input[type="text"] {
        width: 400px;
    }
}
#top {
    margin-top: -48px;
}

/* System Builder */
.btnRightList {
    position: relative;
    top: 0px;
    left: 10px;
    width: 35px;
    height: 35px;
}
.rightListContainer {
    position: sticky;
    top: 0;
  }
.parent {
height: 500px; 
}

/* GPUs */
#topgpus {
    width: 81em;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }


  /* Managing different screen sizes */
  @media (max-width: 1400px) {
    #topgpus {
        width: 69.7em;
    }
  }
  @media (max-width: 1200px) {
    #topgpus {
        width: 60em;
    }
  }
  @media (max-width: 1000px) {
    #topgpus {
        width: 40em;
    }
  }
  @media (max-width: 800px) {
    #topgpus {
        width: 32em;
    }
  }